* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.adminlogin {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 30px 40px;
}

.adminlogin h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
}

.adminlogin .input-box {
  width: 100%;
  height: 50px;
  background: #0ff;
  margin: 30px 0;
}

.input-box input {
  height: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.adminlogin .btn {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.adminlogin .btn:hover {
  background-color: rgb(102, 189, 16);
  color: azure;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .adminlogin {
    width: 300px;
  }
}
